<tr>
  <td><%= check_box_tag "print[]", box.id, false %></td>
  <td><%= link_to box.id, box %></td>
  <td><%= box.company.name %></td>
  <td><%= box.department.name %></td>
  <td><%= box.month.rjust(2, '0') %></td>
  <td><%= box.year %></td>
  <td><%= box.description %></td>
  <td><%= box.destroy_by %></td>
  <td><%= box.location_code %></td>
  <td><%= box.destroyed_at %></td>
</tr>
