<% provide(:title, 'All boxes')%>
<h1><%= link_to "All boxes", boxes_path %></h1>
<div class="center">
  <%= link_to "Create new box", new_box_path, class: "btn btn-large btn-success" %>
  <br/>
  <br/>
  <div class="input-append">
  <%= form_tag  boxes_path, method: 'get'  do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search , params[:search], placeholder: 'Search descriptions', class: "input-xxlarge" %>
    <%= collection_select :filter, params[:filter], Company.all, :id, :name, {:prompt => "Company" }, {:name => 'filter', :class => "input-medium company_select"}  %>
    <%= collection_select :deptfilter, params[:deptfilter], Department.all , :id, :name, {:prompt => "Department"}, {:name => 'deptfilter', :class => 'input-medium department_select'} %>
    <%= submit_tag "Search", name: nil, class: "btn" %>
  <% end %>
  </div>
</div>

<%= will_paginate @boxes, previous_label: '&laquo;', next_label: '&raquo;', class: 'pagination pagination-centered' %>
<fieldset>
  <%= form_tag '/print', method: 'post', action: "print"  %>  
  <%= button_tag "Print", class: 'btn btn-warning' %>
  <table class="table table-hover">
  <thead>
    <tr>
      <th><%= check_box_tag 'selectall', '0', false, class: 'checkall btn' %></th>
      <th><%= sortable "id", "ID" %></th>
      <th>Company</th>
      <th>Department</th>
      <th><%= sortable "month" %></th>
      <th><%= sortable "year" %></th>
      <th>Description</th>
      <th><%= sortable "destroy_by", "Destroy" %></th>
    </tr>
  </thead>
    <tbody>
      <%= render @boxes %>
    </tbody>
</table>
<%= button_tag "Print", class: 'btn btn-warning' %>
</fieldset>
<%= will_paginate @boxes , previous_label: '&laquo;', next_label: '&raquo;', class: 'pagination pagination-centered' %>

