<% provide(:title, 'All boxes')%>
<h1>All boxes</h1>
<div class="input-append">
<%= form_tag  boxes_path, method: 'get'  do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= select_tag :search, options_from_collection_for_select(@boxes, company.id, company.name ), include_blank: true %> 
  <%= text_field_tag :search , params[:search], class: "input-xxlarge" %>
  <%= submit_tag "Search", name: nil, class: "btn" %>
<% end %>
</div>
<%= will_paginate @boxes, previous_label: '&laquo;', next_label: '&raquo;', class: 'pagination pagination-centered' %>
<fieldset>
  <%= form_tag '/print', method: 'post', action: "print"  %>  
  <%= button_tag "Print", class: 'btn btn-warning' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= check_box_tag 'selectall', '0', false, class: 'checkall btn' %></th>
      <th><%= sortable "id", "ID" %></th>
      <th>Company</th>
      <th>Department</th>
      <th><%= sortable "month" %></th>
      <th><%= sortable "year" %></th>
      <th>Description</th>
      <th><%= sortable "destroy_by", "Destroy" %></th>
    </tr>
  </thead>
    <tbody>
      <%= render @boxes %>
    </tbody>
</table>
<%= button_tag "Print", class: 'btn btn-warning' %>
</fieldset>
<%= will_paginate @boxes , previous_label: '&laquo;', next_label: '&raquo;', class: 'pagination pagination-centered' %>

