<% provide(:title, 'All boxes')%>
<h1>All boxes</h1>

<%= will_paginate %>

<ul class="index">
  <%= form_tag '/print', method: 'post', action: "print", multipart: true  %>
  <%= button_to "Print", action: "print" %>
  <%= render @boxes %>
</ul>

<%= will_paginate %>