<% provide(:title, 'All boxes')%>
<h1>All boxes</h1>

<%= will_paginate %>

<ul class="index">
  <%= form_tag '/print', method: 'post', action: "print"  %>
  <%= button_tag "Print" %>
  <%= render @boxes %>
</ul>

<%= will_paginate %>