<div class="label-print">
	<% @boxes.each do |box| %>
	<div class="labels">
		<div class="row small-words">
			<div class="span2">Box Number</div>
			<div class="span3 offset4 right-align">Destroy After</div>
		</div>
		<div class="row">
			<div class="span2"><%= box.id %></div>
			<div class="span3 offset4 right-align"><%= box.destroy_by %></div>
		</div>
		<div class="row small-words">
			<div class="span12">Company</div>
		</div>
		<div class="row">
			<div class="span12"><%= box.company.name %></div>
		</div>
		<div class="row small-words">
			<div class="span12">Department</div>
		</div>
		<div class="row">
			<div class="span12"><%= box.department.name %></div>
		</div>
		<div class="row small-words">
			<div class="span12">Date of Contents</div>
		</div>
		<div class="row">
			<div class="span12"><%= box.month %>/<%= box.year %></div>
		</div>
		<div class="row">
			<div class="span12"><div class="box-description"><%= box.description %></div></div>
		</div>
		<div class="row">
			<div class="span12"><div class="barcode">*<%= box.id %>*</div></div>
		</div>
		<div class="<%= cycle("padded", "page-break") -%>"></div>
	</div>
	<% end %>
</div>
<%= javascript_tag do %>
	setTimeout(function(){
		print();
	}, 1000);

	var beforePrint = function() {
		
	};
	var afterPrint = function() {
		window.location.replace("/boxes");
	};

	if (window.matchMedia) {
		var mediaQueryList = window.matchMedia('print');
		mediaQueryList.addListener(function(mql) {
			if (mql.matches) {
				beforePrint();
			} else {
				afterPrint();
			}
		});
	}

	window.onbeforeprint = beforePrint;
	window.onafterprint = afterPrint;
<% end %>