<div class="show">
<div class="btn-group">
	<div class="btn btn-primary span1"><%= link_to "EDIT", edit_box_path(@box) %></div>
	<% if current_user.admin? %>
		<div class="btn btn-danger span1"><%= link_to "DELETE", @box, method: :delete, data: { confirm: "Confirm deletion"}%></div>
	<% end %>
</div><br/>
ID:<%= @box.id %><br/>
<%= @box.company.name %><br/>
<%= @box.department.name %><br/>
Description: <%= @box.description %><br/>
Month: <%= @box.month.rjust(2, '0') %><br/>
Year: <%= @box.year %> <br/>
Destroy: <%= @box.destroy_by %><br/>
Stored by: <%= @box.stored_by %><br/>
Location: <%= @box.location_code %> <br/>
</div>