<%= simple_form_for @location, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/location_error_messages' %>

  <%= f.input :code, required: false %>
  <%= f.input :room, required: false %>
  <%= f.input :row, required: false %>
  <%= f.input :section, required: false %>
  <%= f.input :shelf, required: false %>
  <%= f.input :slot, required: false %>
  <div class="offset2">
  <%= f.button :submit, class: "btn btn-primary" %> <%= link_to "Delete", @location, method: :delete, data: { confirm: "Confirm deletion"}, class: "btn btn-danger" %>
  </div>
  
<% end %>